.pa-w-list-posts-column {
  .img-container {
    width: 43.3%;
  }
}

.pa-w-list-posts {
  @media(min-width: 768px) and (max-width: 991px) {
    .card-title {
      font-size: 1.5rem;
      font-weight: 600;
    }
  }
}

.pa-w-list-links {
  a {
    color: var(--pa-color-gray03) !important;

    &:hover {
      text-decoration: underline;
    }
  }
}

.ratio-56x31 {
  --bs-aspect-ratio: calc(62 / 112 * 100%);
}

.ratio-214x137 {
  --bs-aspect-ratio: calc(137 / 214 * 100%);
}
