/** Title */
.single-title {
  font: normal bold 20px/26px 'Noto Sans', Arial, Verdana, Tahoma, sans-serif;
  color: var(--pa-color-default);
}

/** Vídeo Responsivo */
.embed-container {
  position: relative;
  padding-bottom: 61.25%;
  overflow: hidden;
  max-width: 100%;
  height: auto;

  iframe,
  object,
  embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

/** Separators */
.separator {
  margin: 40px 0;
}

.pa-header h1 {
  @media(max-width: 575px) {
    font-size: 2.1rem !important;
  }

  span {
    white-space: nowrap;
  }
}

.pa-see-more {
  position: relative;
  z-index: 2;
}

.post-info {
  background-color: var(--pa-color-gray06);
  padding-bottom: 2.5rem; // 40px
  padding-top: 2.5rem; // 40px

  .img-container {
    width: 100%;

    @media(min-width: 1200px) {
      width: 36.6%;
    }
  }

  .pa-share {
    .list-inline {
      margin: 0;
    }
  }

  .pa-post-meta {
    color: #717171;
    font-size: 0.875rem; // 14px
  }

  &__title {
    color: var(--pa-color-default);
    font-size: 1.875rem !important; // 30px
    text-transform: none !important;
  }

  &__tag {
    color: var(--pa-color-default);
    font-size: 0.875rem; // 14px
  }
}

.post-excerpt {
  color: var(--pa-color-gray03);
}
