/*!
Theme Name: PA - Downloads (Child)
Theme URI: adventistas.org
Description: Downloads child theme for downloads.adventistas.org website network.
Author: WebDSA
Version: 1.0
Template: pa-theme-sedes

*/
@import "pa-mixins";
@import "pa-variables";
@import "pa-components";
@import "pa-blocks";
@import "pa-archive";
// @import "pa-cpt-projects";
// @import "pa-front-page";
// @import "pa-lideres";
